.side-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 20%;
  min-height: 200px;
  border: 1px solid antiquewhite;
  border-radius: 20px;
  font-family: "TT Lakes";
  margin-top: 15px;
}

.side-footer__buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
  top: -15px;
}

.side-footer__address {
  display: flex;
  flex-direction: column;
}

.side-footer__lang {
  position: relative;
  display: flex;
  top: 25px;
  width: 75px;
  justify-content: space-between;
}
