.brands-scroll {
  align-self: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

.brands-scroll__item {
  margin-right: 10px;
}

@media screen and (min-width: 400px) {
  .brands-scroll {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) and (min-width: 410px) {
  .brands-scroll {
    justify-content: center;
  }
}
