.next-btn--round {
  width: 25%;
  height: 100%;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid rgba(250, 235, 215, 0.500);
  font-size: 30px;
  color: rgba(250, 235, 215, 0.500);
  transition-duration: 0.3s;
  -webkit-appearance: none;
}

/* background-color: rgba(250, 235, 215, 0.241); */

.next-btn--round:hover {
  background-color: rgba(250, 235, 215, 0.500);
  color: #808d85;
  -webkit-appearance: none;
}
