.next-btn--round {
  width: 25%;
  height: 100%;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #808d85;
  font-size: 30px;
  color: #808d85;
  transition-duration: 0.3s;
  -webkit-appearance: none;
}

.next-btn--round:hover {
  background-color: #808d85;
  color: rgba(250, 235, 215, 0.435);
  -webkit-appearance: none;
}
