.rounded-btn {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 35%;
  background-color: #cd5c5c;
  transition-duration: 0.3s;
  border: none;
  cursor: pointer;
}

.rounded-btn:hover {
  background-color: transparent;
}
