<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/brands-block-styles.css" />

    <title>camelCase</title>
  </head>
  <body>
    <main>
      <article class="brands">
        <h3 class="brands__caption">ремонт техники различных брендов</h3>

        <ul class="brands-list">
          <li class="brands-list__brand-container">
            <img src="../images/brands-icons/acer.png" alt="Acer" />
            <button class="next-btn--round">></button>
          </li>

          <li class="brands-list__brand-container">
            <img src="../images/brands-icons/apple.png" alt="Apple" />
            <button class="next-btn--round">></button>
          </li>
          <li class="brands-list__brand-container">
            <img src="../images/brands-icons/bosch.png" alt="Bosch" />
            <button class="next-btn--round">></button>
          </li>
          <li class="brands-list__brand-container">
            <img src="../images/brands-icons/hp.png" alt="Hewlett Packard" />
            <button class="next-btn--round">></button>
          </li>
          <li class="brands-list__brand-container">
            <img src="../images/brands-icons/lenovo.png" alt="Lenovo" />
            <button class="next-btn--round">></button>
          </li>
          <li class="brands-list__brand-container">
            <img src="../images/brands-icons/samsung.png" alt="Samsung" />
            <button class="next-btn--round">></button>
          </li>
          <li class="brands-list__brand-container">
            <img src="../images/brands-icons/sony.png" alt="Sony" />
            <button class="next-btn--round">></button>
          </li>
          <li class="brands-list__brand-container">
            <img src="../images/brands-icons/viewSonic.png" alt="ViewSonic" />
            <button class="next-btn--round">></button>
          </li>
          <li class="brands-list__brand-container">
            <img src="../images/brands-icons/acer.png" alt="Acer" />
            <button class="next-btn--round">></button>
          </li>
          <li class="brands-list__brand-container">
            <img src="../images/brands-icons/apple.png" alt="Apple" />
            <button class="next-btn--round">></button>
          </li>
          <li class="brands-list__brand-container">
            <img src="../images/brands-icons/bosch.png" alt="Bosch" />
            <button class="next-btn--round">></button>
          </li>
        </ul>

        <div class="brands__scroll my-x-scroll"></div>
        <div class="blur"></div>
      </article>
    </main>
    <script type="text/javascript" src="../js/script.js" defer></script>
  </body>
</html>
