<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/menu-bar-styles.css" />

    <title>camelCase</title>
  </head>
  <body>
    <main>
      <aside class="side-bar">
        <ul class="side-header list-nostyle">
          <li class="side-header__item">
            <button class="rounded-btn rounded-btn--close"></button>
          </li>
          <li class="side-header__item logo-x40"></li>
          <li class="side-header__item">
            <button class="rounded-btn rounded-btn--search"></button>
          </li>
        </ul>

        <nav>
          <ul class="side-menu list-nostyle">
            <li class="side-menu__item">
              <a class="side-menu__ref">Ремонт техники</a>
            </li>
            <li class="side-menu__item">
              <a class="side-menu__ref">Услуги и сервисы</a>
            </li>
            <li class="side-menu__item">
              <a class="side-menu__ref"> Корпоративным клиентам </a>
            </li>
            <li class="side-menu__item">
              <a class="side-menu__ref">Продавцам техники</a>
            </li>
            <li class="side-menu__item">
              <a class="side-menu__ref">Партнерам</a>
            </li>
            <li class="side-menu__item">
              <a class="side-menu__ref">Производителям</a>
            </li>
            <li class="side-menu__item">
              <a class="side-menu__ref"> Наши сервисные центры </a>
            </li>
            <li class="side-menu__item">
              <a class="side-menu__ref">Контакты</a>
            </li>
          </ul>
        </nav>

        <section class="side-footer">
          <ul class="side-footer__buttons list-nostyle">
            <li>
              <button
                class="side-footer__btn rounded-btn rounded-btn--telephone"
              ></button>
            </li>
            <li>
              <button
                class="side-footer__btn rounded-btn rounded-btn--message"
              ></button>
            </li>
            <li>
              <button
                class="side-footer__btn rounded-btn rounded-btn--person"
              ></button>
            </li>
          </ul>

          <address class="side-footer__address nostyle-address">
            <a class="side-footer__mail qk-link" href="mailto:mail@example.de"
              >mail@example.de</a
            >
            <a class="side-footer__tel qk-link" href="tel:+78018028003"
              >8 801 802 8003</a
            >
          </address>

          <ul class="side-footer__lang lang-converter list-nostyle">
            <li class="lang-converter__lang">
              <button class="btn-nostyle">RU</button>
            </li>
            <li class="lang-converter__lang">
              <button class="btn-nostyle">EN</button>
            </li>
            <li class="lang-converter__lang--selected">
              <button class="btn-nostyle">DE</button>
            </li>
          </ul>
        </section>
      </aside>
    </main>
  </body>
</html>
