<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/nav-about-styles.css" />

    <title>camelCase</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <ul class="nav-bar__items list-nostyle">
          <li class="nav-bar__item">
            <button class="rounded-btn rounded-btn--menu"></button>
          </li>
          <li class="nav-bar__item logo-x40"></li>
          <li class="nav-bar__item">
            <button class="rounded-btn rounded-btn--telephone"></button>
          </li>
          <li class="nav-bar__item">
            <button class="rounded-btn rounded-btn--message"></button>
          </li>
          <li class="nav-bar__item">
            <button class="rounded-btn rounded-btn--person"></button>
          </li>
          <li class="nav-bar__item">
            <button class="rounded-btn rounded-btn--settings"></button>
          </li>
          <li class="nav-bar__item">
            <button class="rounded-btn rounded-btn--search"></button>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="title">
        <h3 class="title__caption">Услуги и сервисы</h3>

        <ul class="title__items list-nostyle">
          <li class="title__item">
            <button class="rounded-btn rounded-btn--settings"></button>
          </li>
          <li class="title__item">
            <button class="rounded-btn rounded-btn--search"></button>
          </li>
        </ul>
      </section>

      <menu class="page-menu">
        <menuitem class="page-menu__btn">Ремонтируемые бренды</menuitem>
        <menuitem class="page-menu__btn">Ремонтируемые устройства</menuitem>
        <menuitem class="page-menu__btn">Другие услуги</menuitem>
        <menuitem class="page-menu__btn">Цены на услуги</menuitem>
        <menuitem class="page-menu__btn">Адреса сервисных центров</menuitem>
        <menuitem class="page-menu__btn">Специальные цены</menuitem>
        <menuitem class="page-menu__btn">Отзывы</menuitem>
      </menu>

      <section class="about-description">
        <article>
          <p class="about-description__text">
            Мы являемся авторизованным сервисным центром по ремонту техники
            Dell. Только у нас вы можете отремонтировать свой ноутбук Dell с
            официальной гарантией производителя.
            <br />
            <br />
            Мы успешно работаем с 1992 года и заслужили репутацию надежного
            партнера, что подтверждает большое количество постоянных клиентов.
            Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою
            очередь, советуют нас родным и близким.
          </p>

          <button
            class="about-description_btn show-more-btn"
            data-text="Читать далее"
          >
            <img
              src="../images/buttons-icons/showMore.svg"
              alt="Читать далее"
            />
          </button>
        </article>

        <div class="about-description__img-wrapp">
          <img src="../images/retro.jpg" alt="" />
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
