.brands-list {
  display: flex;
  width: 100%;
  margin-left: -20px;
  margin-top: 20px;
  min-height: 70px;
  overflow: hidden;
  transition: all 0.5s linear;
  /* transition-property: height; */
  /* transition-duration: 1s; */
}

.brands-list__brand-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 0px;
  width: 204px;
  height: 50px;
  min-width: 204px;
  min-height: 50px;
  border-radius: 20px;
  padding: 10px 10px;
  margin-bottom: 16px;
  background-color: #808d85;
}

@media screen and (max-width: 480px) {
  .brands-list {
    height: 70px !important;
  }
}

@media screen and (max-width: 767px) {
  .brands-list {
    height: 70px !important;
  }
}

@media screen and (min-width: 768px) {
  .brands-list {
    flex-wrap: wrap;
    min-height: 170px;
    height: 170px;
  }
}

/* .brands-list--show {
  animation: show 0.4s linear;
}

.brands-list--hide-mobile {
  animation: showMobile 0.4s ease-out;
}

.brands-list--hide {
  animation: hide 0.4s ease-out;
}

@keyframes show {
  0% {
    height: 170px;
  }

  100% {
    height: auto;
  }
}

@keyframes hideMobile {
  0% {
    height: auto;
  }

  100% {
    height: 70px;
  }
}

@keyframes hide {
  0% {
    height: auto;
  }

  100% {
    height: 170px;
  }
} */
